header {
    background-image: url("mimi/img/bkg.jpg");
    background-size: cover;
    display:flex;
    height: 100px;
    box-shadow: 9px 9px 16px -11px rgb(0 0 0 / 75%);
    width: auto;
    margin-bottom: auto;


}
header .mimi {
    height: 100%;
    display: block;
    margin: 0 auto;

}