header {
    background-image: url("img/bkg2.jpg");
    background-size: cover;
    display:flex;
    height: 100px;
    box-shadow: 9px 9px 16px -11px rgb(0 0 0 / 75%);
    width: auto;
    margin-bottom: auto;

}

header .mimi {
    height: 100%;
    display: block;
    margin: 0 auto;

}

/* h2 {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: lightgray;
} */

button {
    border-color: lightslategrey;
    font-family: 'Maven Pro', sans-serif;
    border-style: dotted;
    border-radius: 40px;
    background-color: white;
    cursor:pointer;
}

button:hover {
    background-color: lightblue;
    box-shadow: 0 3px 3px gray;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-shadow: 5px 5px 2px gainsboro;
}

a {
    text-decoration: none;
    color: lightslategray;
}

.active {
    background-color: white;
    color: pink;
 }

li {
    display: inline-flex;


}

.mimi1 {
    border-radius:50%;
    display:block;
    margin:auto;

}

.pagina {
    display: flex;
    flex-flow:column-reverse;
    padding: 0 20px;
}

body {
    font-family: 'Maven Pro', sans-serif;
    margin:0;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }