header {
    background-image: url("img/bkg.jpg");
    background-size: cover;
    display:block;
    height: 100px;
    box-shadow: 9px 9px 16px -11px rgb(0 0 0 / 75%);
    width: auto;
    margin-bottom: auto;


}
header .mimi {
    height: 200px;
    display: inline-block;
    margin: 10px;

}

.titulo {
    float: right;
    color: white;
    margin: auto 15px;
    height: 100%;
    text-shadow: 1px 1px grey;


}

.pag1 {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    text-align: center;
    
}



body {
    font-family: 'Hubballi', cursive;
}